name: Build

on:
  push:
    branches:
      - 7.15.x
  pull_request:
    branches:
      - 7.15.x
    types:
      - opened
      - reopened
      - synchronize
      - labeled

env:
  MAVEN_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
  MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
  MAVEN_CLI_OPTS: >-
    --settings settings.xml
    -V --no-transfer-progress -Dspring.main.banner-mode=off -Ddoclint=none
    -Denvironment.host=${{ vars.ENVIRONMENT_HOST }}
    -Denvironment.apa.host=${{ vars.ENVIRONMENT_APA_HOST }}
    -Denvironment.application.name=${{ vars.ENVIRONMENT_APP }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name || github.run_id }}
  cancel-in-progress: true

jobs:

  pre-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Check dependabot build
        uses: Activiti/Activiti/.github/actions/check-ext-build@4db084fcbb13a288f3b66ac08fc50a5ab7f144ed # 8.0.0-alpha.10
      - name: pre-commit
        uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          skip_checkout: true
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@ba37328d4ea95eaf8b3bd6c6cef308f709a5f2ec # v3.0.3

  build:
    runs-on: ubuntu-latest
    needs:
      - pre-checks
    outputs:
      version: ${{ steps.build-and-tag.outputs.version }}
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/maven-build-and-tag@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        id: build-and-tag
        with:
          upload-jars: 'true'
          extra-maven-opts: -T 1C -DunitTests.parallel=true
          maven-username: ${{ secrets.NEXUS_USERNAME }}
          maven-password: ${{ secrets.NEXUS_PASSWORD }}
          quay-username: ${{ secrets.QUAY_USERNAME }}
          quay-password: ${{ secrets.QUAY_PASSWORD }}
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}
          git-username: ${{ secrets.BOT_GITHUB_USERNAME }}
          java-version: '21'

  promote:
    runs-on: ubuntu-latest
    needs:
      - build
    if: github.event_name == 'push'
    env:
      VERSION: ${{ needs.build.outputs.version }}
      DEVELOPMENT_BRANCH: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
      - uses: Alfresco/alfresco-build-tools/.github/actions/jx-updatebot-pr@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          version: ${{ needs.build.outputs.version }}
          auto-merge: 'true'
          labels: 'be-propagation,${{ env.DEVELOPMENT_BRANCH }}'
          base-branch-name: ${{ env.DEVELOPMENT_BRANCH }}
          git-username: ${{ secrets.BOT_GITHUB_USERNAME }}
          git-token: ${{ secrets.BOT_GITHUB_TOKEN }}
          git-author-name: ${{ secrets.BOT_GITHUB_USERNAME }}

  notify:
    runs-on: ubuntu-latest
    needs:
      - promote
    if: always() && failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: Alfresco/alfresco-build-tools/.github/actions/send-slack-notification@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          channel-id: 'eng-hxp-studio-be-gh-notifs'
          token: ${{ secrets.SLACK_NOTIFICATION_BOT_TOKEN }}
